@font-face {
    font-family: Arimo;
    src: url("../Font/Arimo/Arimo.woff") format("woff"),
         url("../Font/Arimo/Arimo.ttf") format("ttf"),
         url("../Font/Arimo/Arimo.eot") format("eot");
    font-weight: normal;
}
@font-face {
    font-family: Arimo;
    src: url("../Font/Arimo/Arimo-Bold.woff") format("woff"),
         url("../Font/Arimo/Arimo-Bold.ttf") format("ttf"),
         url("../Font/Arimo/Arimo-Bold.eot") format("eot");
    font-weight: bold;
}

/******************************/
/************** BASIC *********/

body {
    font-family: Arimo;
    font-size: 16px;
    background-color: #3a4965;
    text-transform: uppercase;
    color: #848484;
}
table {
    width: 90vw;
    height: 90vh;
    margin: 10vh 5vw;
    background-color: #fafafa;
    text-align: center;


}
td, th {
    width: 280px;
    padding-top: 25px;
    height: 70px;
    box-sizing: border-box;
    box-shadow: inset -5px 0px 5px -5px #bbb;
}



/******************************/
/************** TABLE *********/


.header-choose {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 2;
    color: #484848;
}
.header-plan {
    font-size: 1.875rem;
    font-weight: bold;
    color: #484848;
}
.standard {
    background-color: #89c331;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}
.ultimate {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 1.875rem;
    font-weight: bold;
}
.premium {
    background-color: #20807c;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}
.price {
    font-size: 3.75rem;
    font-weight: bold;
    float: left;
    margin-left: 30px;
    color: #484848;
}
.month {
    text-align: left;
    margin-bottom: 20px;
    color: #484848;
}
.bold {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 5px;
}
.p-month {
    padding-top: 5px;
    font-size: 1.125rem;
}
tr:nth-child(n+3):nth-child(odd) {
    background-color: #f2f2f2;
}
tr:nth-child(n+4):nth-child(even) {
    background: #e3e3e3;
}
.description {
    margin-left: 15px;
}
.buttons-row {
    height: 110px;
}
.button-block a {
    text-decoration: none;
    display: block;
}

.button-block a {
    -webkit-appearance: none;
}

.button {
    border: none;
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
    height: 50px;
    width: 195px;
    border-radius: 5px;
    font-size: inherit;
    color: #ffffff;
    text-transform: inherit;
    margin: 0 auto;
}
.contact {
    background: linear-gradient(to bottom, #484848 85%, #404040 85%, #404040 100%);
}
.buy1 {
    background: linear-gradient(to bottom, #89c331 85%, #79b027 85%, #79b027 100%);
}
.buy2 {
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 85%, #df3a46 100%);
}
.buy3 {
    background: linear-gradient(to bottom, #20807c 85%, #16736f 85%, #16736f 100%);
}
.color {
    background-color: #dddddd;
}